* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("grass.jpeg");
}
header {
  position: fixed;
  top: 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
  height: 74px;
  width: 100vw;
  padding-top: 15px;
  left: 0;
  background-color: darkgreen;
  color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}
header #orderBtn {
  cursor: pointer;
}
main {
  width: 100vw;
}
#slider {
  display: flex;
  background-size: cover;
  width: 35vw;
  height: 28vh;
  max-width: 600px;
  background-image: url("img1.jpg");
  background-repeat: no-repeat;
  margin-top: 90px;
  border-radius: 15px;
  border: 2px solid white;
  box-shadow: 5px 5px rgb(3, 51, 3);
}
.products,
.queen,
.about {
  display: flex;
  align-items: center;
  width: 60vw;
  height: 15vh;
  background-color: #e6e6e6;
  margin-top: 15px;
  border-radius: 7.5vh;
}
#order {
  height: 575px;
  width: 60vw;
  background-color: #e6e6e6;
  margin-top: 5px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}
h2 {
  text-align: center;
  margin-bottom: 5px;
}
.orderForm {
  display: flex;
  flex-direction: column;
}
.orderForm label {
  padding: 0.5rem;
}
.orderForm input[type="text"],
.orderForm input[type="e-mail"],
.orderForm input[type="number"],
.orderForm textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.5em;
  outline: none;
}
.orderForm textarea {
  height: 180px;
}

.orderForm button {
  margin-top: 1rem;
  height: 48px;
  min-width: 48px;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 30vw;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  border: 2px solid darkgreen;
  box-shadow: 5px 5px;
  margin-left: -5px;
  margin-top: -5px;
  cursor: pointer;
  transition: transform 0.2s;
}
.btn:hover {
  transform: scale(1.2);
}
.menu {
  font-size: 36px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-left: 25px;
  text-shadow: 2px 2px dimgray;
}

footer {
  display: block;
  margin-bottom: -10px;
  height: 25vh;
  width: 100vw;
  background: rgb(0, 0, 0, 0.45);
}
.map {
  position: absolute;
  height: 25vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: bisque;
}
iframe {
  display: flex;
  width: 60vw;
  position: relative;
  border-radius: 15px;
  top: 10px;
  left: 5px;
}
@media only screen and (max-width: 768px) {
  header {
    font-size: 24px;
  }
  .menu {
    font-size: 24px;
    text-shadow: 2px 2px dimgray;
  }
  .products,
  .queen,
  .about,
  #order {
    width: 90vw;
  }
  .orderForm button {
    width: 45vw;
  }
  iframe,
  #slider {
    width: 90vw;
  }
}
